.pix {
  height: 100px;
  width: 100px;
}
.name {
  font-weight: bold;
}
.company {
}
.info {
  margin-top: 2rem;
  margin-left: 1rem;
}
.profile {
  align-content: center;
  margin: auto 200px;
  display: flex;
  margin-bottom: 1rem;
}
.titleHead {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
  text-transform: uppercase;
}
form {
  border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
}
